/* About Page Start */
.about_page{
    color: #fff;
}
.about_page .title_big{
    font-size: calc(30px + (180 - 30) * ((100vw - 300px) / (1920 - 300)));
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 36px;
    margin: 0;
    margin-bottom: 53px;
    line-height: .8;
}
.about_cover{
    position: relative;
    width: 100%;
    max-height: 624px;
    padding-left: 35px;
    margin-bottom: 95px;
}

.about_cover::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #fff;
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
}
.wrapper_title{
    display: flex;
    align-items: center;
    text-transform: uppercase;
      margin-bottom: 30px;
}

.wrapper_title svg{
    width: 46px !important;
    height: 46px;
}
.about_description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.about_description > div{
    flex:  0 0 45%;
}

.wrapper_title h1{
    font-size: 58px;
    margin-bottom: 0;
    margin-inline-start: 16px;
}
.about_us_wrapper > span,
.our_mission > span{
    font-size: 24px;
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
    line-height: 35px;
}

.about_us_wrapper > span b,
.our_mission > span b{
    color: #fff;
    font-weight: bold;
}
.our_mission > span{
    display: block;
    margin-top: -2px;
}
.staff_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all .3s ease;
}

.staff_container .wrapper_title{
    flex: 0 0 100%;
}

.staff_item{
    flex: 0 0 22%;
    flex-shrink: 0;
    transition: .3s ease;
}

.staff_member_name{
    font-size: 42px;
}
.staff_member_profession{
    font-size: 16px;
}

.staff_member_cover{
    position: relative;
    width: 100%;
    height: 428px;
    margin-bottom: 40px;
}
.staff_member_cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.staff_member_cover::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 8px;
    width: 100%;
    max-width: 50%;
    background-color: #fff;
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
}
.staff-credentail{
    position: absolute;
    right: -20px;
    bottom: -10px;
    max-width: 50%;
}
.about_us_list{
    padding-inline-start: 20px;
    margin-block-end: 20px;
    list-style-type: disc;

}
.about_us_list li{
    margin-bottom: 8px;
}
/* About Page End */