    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
        font-family: 'Lato', sans-serif;
    }
    body.collapsed{
        overflow: hidden;
        padding-right: 20px;
    }
    body{
        background-color: #00112a;
    }
    ol,
    ul {
        list-style: none;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    * {
        box-sizing: border-box;
    }
    img{
        max-width: 100%;
    }

    .m-auto{
        margin: 0 auto;
    }

    .overlay{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 945;
        background-color: rgba(0,0,0,.7);
    }
    .overlay.show{
        display: block;
    }
    .close_button{
        position: absolute;
        top: 35px;
        right: 35px;
        color: #fff;
    }

    .close_button svg{
        width: 65px !important;
        height: 65px;
    }

    .input-reset{
        border: none;
        outline: 0;
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        color: inherit;
    }
    .hero_arrow{
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 25px;
        height: 16px;
        background-image: url('../assets/custom_arrow.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        cursor: pointer;
    }
    .animation_container{
        position: fixed;
        display: flex;
        align-items: center;
        left:0;
        top:0;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }
    .animation_item{
        display: none;
        width: 20%;
        flex: 0 0 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .animation_item_1{
        background-image: url('../assets/loaderParts/1.png');
    }
    .animation_item_2{
        background-image: url('../assets/loaderParts/2.png');
    }
    .animation_item_3{
        background-image: url('../assets/loaderParts/3.png');
    }
    .animation_item_4{
        background-image: url('../assets/loaderParts/4.png');
    }
    .animation_item_5{
        background-image: url('../assets/loaderParts/5.png');
    }
    /*fonts*/
    @font-face {
        font-family: 'SF-Pro-Thin';
        src: url('../assets/fonts/sf-thin/SF-Pro-Display-Thin.eot');
        src: local('☺'), url('../assets/fonts/sf-thin/SF-Pro-Display-Thin.woff') format('woff'), url('../assets/fonts/sf-thin/SF-Pro-Display-Thin.ttf') format('truetype'), url('../assets/fonts/sf-thin/SF-Pro-Display-Thin.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF-Pro-Black';
        src: url('../assets/fonts/sf-black/SF-Pro-Display-Black.eot');
        src: local('☺'), url('../assets/fonts/sf-black/SF-Pro-Display-Black.woff') format('woff'), url('../assets/fonts/sf-black/SF-Pro-Display-Black.ttf') format('truetype'), url('../assets/fonts/sf-black/SF-Pro-Display-Black.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    .gca_font_sf_thin{
        font-family: 'SF-Pro-Thin', sans-serif;
    }
    .gca_font_sf_bold{
        font-family: 'SF-Pro-Black', sans-serif;
    }
    .pointer-none{
        pointer-events: none;
        opacity: .7;
    }
    /* header */
    .header {
        height: 127px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_nav {
        padding: 0 107px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
    }

    .header_nav_item {
        display: block;
        font-size: 23px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 110px;
        white-space: nowrap;
        transition: margin-right .3s ease;
    }
    .header_nav_item:after {
        content: '';
        width: 0;
        height: 3px;
        background-color: #fff;
        display: block;
        margin-top: 5px;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        transition: width 0.3s;
    }
    .header_nav_item-active:after,
    .header_nav_item:hover:after {
        width: 100%;
    }

    .header_logo {
        width: 78px;
        height: 78px;
        display: block;
        background-image: url('../assets/logo.svg');
        position: absolute;
        top: 50%;
        left: 26px;
        transform: translateY(-50%);
    }

    /* hero */
    .hero {
        position: relative;
        width: 1300px;
        margin: 0 auto;
        color: #fff;
        padding-top: 180px;
        margin-bottom: 200px;
    }

    .hero_content {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }

    .hero_content_left_side {
        width: 40%;
        text-align: right;
        align-self: flex-end;
        padding-right: 30px;
        transform: translateY(-9px);
    }
    .hero_content_left_side > div:first-child {
        font-size: 57px;
        font-weight: 400;
    }
    .hero_content_left_side > div:last-child {
        font-size: 57px;
        font-weight: 100;
    }

    .hero_content_right_side {
        font-family: "SF-Pro-Black";
        width: 60%;
        font-size: 105px;
        font-weight: 900;
        align-self: flex-end;
        position: relative;
        padding-left: 30px;
    }
    .hero_content_right_side:before {
        content: '';
        width: 8px;
        height: calc(100% - 29px);
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .gca--button_submit {
        outline: 0;
        border: none;
        min-width: 305px;
        height: 69px;
        line-height: 69px;
        border-radius: 7px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #fff;
        background-color: #ffab1e;
        box-shadow: inset 0 -5px #ff7200;
        transition: 0.5s ease;
        font-weight: 500;
        padding: 0 48px;
        cursor: pointer;
    }

    .gca--button-customForm{
        align-self: flex-end;
        padding: 0 24px;
        letter-spacing: 2px;
        text-decoration: none;
    }
    .hero_btn {
        margin: 0 auto 80px;
        display: block;
    }
    .gca--button_submit:hover {
        box-shadow: inset 0 -69px #ff7200;
        color: #fff;
        text-decoration: none;
    }

    /* about */

    .about {
        display: flex;
        align-items: center;
        margin-bottom: 220px;
        background-color: rgba(0,17,42,0.8);
    }

    .about_image > div {
        width: 100%;
        background-image: url('../assets/images/about_img.jpg');
        padding-top: 59.625%;
        background-size: contain;
    }

    .about_image {
        width: 50%;
    }

    .about_text {
        width: 50%;
        padding: 0 88px;
        color: #fff;
    }

    .about_text > h2 {
        margin-bottom: 36px;
    }

    .white_title {
        color: #fff;
        font-family: "SF-Pro-Black";
        font-size: 42px;
        margin-bottom: 36px;
    }

    .about_text > p {
        font-size: 42px;
        font-weight: 100;
        font-size: 19px;
        margin-bottom: 36px;
        line-height: 1.3;
    }

    .about_text > p > strong {
        font-weight: 700;
    }

    .white_btn {
        display: inline-block;
        text-decoration: none;
        font-family: "SF-Pro-Black";
        font-size: 20px;
        padding: 0 17px;
        appearance: none;
        background-color: #fff;
        color: #000;
        border-radius: 9px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }

    /* speakers */

    .speakers {
        width: 1300px;
        height: 700px;
        margin: 0 auto;
        margin-bottom: 220px;
    }

    .speaker {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding-left: 60px;
        padding-right: 60px;
    }

    .speaker_img {
        width: 400px;
        height: 560px;
        flex-shrink: 0;
        box-shadow: 2px 2px 60px 10px rgba(0,76,246,0.2);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .speaker_img_1{
        background-image: url('../assets/speakers/speaker1.png');
    }
    .speaker_img_3{
        background-image: url('../assets/speakers/speaker3.png');
    }

    .speaker_text {
        padding: 0 240px 0 100px;
    }

    .speaker_text_name {
        font-size: 66px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .speaker_text_position {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .speaker_text_position_glow:after {
        display: block;
        content: '';
        width: 60%;
        height: 3px;
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        margin-top: 15px;
    }

    .speaker_text > p {
        font-size: 20px;
        font-weight: 100;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .title_center {
        width: 100%;
        text-align: center;
        margin-bottom: 130px;
    }

    body.home .title_center{
        margin-bottom: 80px;
    }

    /*sponsors*/
    .sponsors {
        padding: 120px 0;
        background-color: #000c1d;

    }

    .sponsor_item {
        width: 300px;
        height: 300px;
        padding: 2px;
        background: #fffa78;
        background: -moz-linear-gradient(top, #fffa78 0%, #ffc600 100%);
        background: -webkit-linear-gradient(top, #fffa78 0%,#ffc600 100%);
        background: linear-gradient(to bottom, #fffa78 0%,#ffc600 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#fffa78', endColorstr='#ffc600',GradientType=0 );
    }

    .sponsor_item.sponsor_item-platinum {
        background: #8fa9f6;
        background: -moz-linear-gradient(top, #8fa9f6 0%, #00387c 100%);
        background: -webkit-linear-gradient(top, #8fa9f6 0%,#00387c 100%);
        background: linear-gradient(to bottom, #8fa9f6 0%,#00387c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#8fa9f6', endColorstr='#00387c',GradientType=0 );
    }

    .sponsor_item.sponsor_silver{
        background: #999ea5;
        background: -moz-linear-gradient(top, #999ea5 0%, #41464d 100%);
        background: -webkit-linear-gradient(top, #999ea5 0%,#41464d 100%);
        background: linear-gradient(to bottom, #999ea5 0%,#41464d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#999ea5', endColorstr='#41464d',GradientType=0 );
    }

    .sponsor_item.sponsor_bronze{
        background: #422824;
        background: -moz-linear-gradient(top, #422824 0%, #997178 100%);
        background: -webkit-linear-gradient(top, #422824 0%,#997178 100%);
        background: linear-gradient(to bottom, #422824 0%,#997178 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#422824', endColorstr='#997178',GradientType=0 );
    }

    .sponsor_item.sponsor_ucom{
        background: #66902c;
        background: -moz-linear-gradient(top, #66902c 0%, #334c14 100%);
        background: -webkit-linear-gradient(top, #66902c 0%,#334c14 100%);
        background: linear-gradient(to bottom, #66902c 0%,#334c14 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66902c', endColorstr='#334c14',GradientType=0 );
    }

    .sponsor_item > div {
        background-color: #000c1d;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .sponsor_item-autodesk > div {
        background-image: url('../assets/images/sponsor_autodesk.png');
    }
    .sponsor_item-fris > div {
        background-image: url('../assets/images/sponsor_fris.png');
    }
    .sponsor_item-ucom > div {
        background-image: url('../assets/images/sponsor_ucom.png');
    }
    .sponsors_wrapper_reversed{
        flex-direction: row-reverse;
    }
    .sponsor_heading {
        color: #fff;
        width: 100%;
        border-bottom: 1px solid #444d59;
        font-size: 42px;
        text-transform: uppercase;
        margin-bottom: 80px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sponsor_heading:before,
    .sponsors_grid .sponsor_heading:after{
        content: '';
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateY(1px);
        margin-right: 20px;
        margin-left: 20px;
    
    }

    .sponsor_heading_gold:before,
    .sponsors_grid .sponsor_heading_gold:after{
        box-shadow: 2px 2px 20px 10px #8a7f2e;
    }

    .sponsor_heading_platinum:before,
    .sponsors_grid .sponsor_heading_platinum:after{
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }

    .sponsor_heading_silver::before,
    .sponsor_heading_silver::after{
        box-shadow: 4px 0 15px rgba(255,255,255,.8), -4px 0 15px rgba(255,255,255,.8);
    }

    .sponsor_heading_bronze::before,
    .sponsor_heading_bronze::after{
        box-shadow: 4px 0 15px rgba(165,135,123,.8), -4px 0 15px rgba(165,135,123,.8);
    }

    .sponsor {
        margin: 0 200px;
    }

    .sponsor .white_btn {
        margin: 0 auto;
        display: block;
        width: 128px;
        margin-top: 36px;
        padding: 0;
    }

    .sponsors_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .footer {
        padding-top: 100px;
        background-color: #00112a;
        overflow: hidden;
    }

    form {
        width: 665px;
        margin: 0 auto;
    }

    .inp {
        appearance: none;
        border: 0;
        height: 60px;
        width: 100%;
        outline: 0;
        border-bottom: 4px solid #fff;
        background: transparent;
        color: #fff;
        font-size: 30px;
    }

    .txtarea{
        appearance: none;
        border: 0;
        outline: 0;
        border-bottom: 4px solid #fff;
        background: transparent;
        color: #fff;
        font-size: 30px;
        height: 60px;
    }

    .inp::placeholder,
    .txtarea::placeholder{
        color: #fff;
    }

    .footer_btn {
        display: block;
        margin: 60px auto;
    }

    .footer_c {
        padding: 40px;
    }

    .footer_c > p {
        text-align: right;
        font-weight: 100;
        color: #fff;
        padding: 0 20px;
        line-height: 1.5;
    }

    /* schedule */

    .schedule {
        display: flex;
    }
    .schedule_row_wrapper {
        overflow-x: auto;
        position: relative;
        padding-bottom: 50px;
    }
    .schedule_row_wrapper_mob{
        display: none;
        position: relative;
        padding-bottom: 50px;
    }
    .schedule_dates_container{
        display: flex;
        align-self: center;
        justify-content: space-between;
        height: 132px;
        padding-block-start: 36px;
        padding-inline-start: 110px;
        padding-inline-end: 110px;
        margin-block-end: 80px;
        background-color: #0d2348;
        color: #fff;
    }
    .schedule_dates{
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: space-between;
    }
    .schedule_date_item{
        position: relative;
        display: flex;
        align-items: center;
        padding-block-end: 36px;
        color: #fff;
        text-decoration: none;
    }
    .schedule_date_day{
        font-size: 80px;
        line-height: .8;
    }
    .schedule_date_month{
        display: flex;
        flex-direction: column;
        font-size: 34px;
        line-height: 0.9;
    }
    .schedule_date_item::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        background-color: #fff;
        transition: .2s ease;
        height: 0;
    }
    .schedule_date_week_day{
        opacity: .7;
    }
    .schedule_date_item.active::before,.schedule_date_item:hover::before{
        height: 4px;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }

    .schedule_types{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 60px;
        padding-bottom: 36px;
        flex-grow: 1;
    }
    .schedule_type{
        position: relative;
        display: flex;
        align-items: center;
        
        font-size: 23px;
    }

    .schedule_type span{
        width: 24px;
        height: 24px;
        margin-inline-end: 24px;
    }

    .schedule_type.schedule_type_art span{
        background-color: #7a0026;
        box-shadow: 4px 0 18px rgba(122,0,38,.8), -4px 0 18px rgba(122,0,38,.8);
    }

    .schedule_type.schedule_type_design span{
        background-color: #bb6600;
        box-shadow: 4px 0 18px rgba(187,102,0,.8), -4px 0 18px rgba(187,102,0,.8);
    }

    .schedule_type.schedule_type_development span{
        background-color: #007b11;
        box-shadow: 4px 0 18px rgba(0,123,17,.8), -4px 0 18px rgba(0,123,17,.8);
    }

    .schedule_type.schedule_type_other span{
        background-color: #615c60;
        box-shadow: 4px 0 18px rgba(97,92,96,.8), -4px 0 18px rgba(97,92,96,.8);
    }


    /* width */
    .schedule_row_wrapper::-webkit-scrollbar {
        height: 5px;
    }
    /* Track */
    .schedule_row_wrapper::-webkit-scrollbar-track {
        background: #132c56;
    }
    /* Handle */
    .schedule_row_wrapper::-webkit-scrollbar-thumb {
        background: #2f5595;
    }

    .schedule_row, .schedule_row_mob,
    .schedule_time {
        display: flex;
        align-items: center;
    }
    .schedule_row_mob{
        flex-direction: column;
    }
    .schedule_row_mob .schedule_row_hour{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 190px;
        padding-left: 72px;
        padding-right: 32px;
        color: #fff;
    }
    .schedule_row_mob .schedule_row_hour::before,
    .schedule_row_mob .schedule_row_hour::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 34px;
        background-color: #fff;
        transition: background-color .4s ease;
    }
    .schedule_row_mob .schedule_row_hour::before{
        width: 4px;
        height: 100%;
    }
    .schedule_row_mob .schedule_row_hour::after{
        width: 40px;
        height: 40px;
        top: 30px;
        left: 16px;
        border-radius: 100%;
    }
    .schedule_row_hour_title{
        font-size: 28px;
        text-transform: capitalize;
        margin-bottom: 22px;
    }
    .schedule_row_how_detailed > div{
        margin-bottom: 16px;
        font-size: 18px;
    }
    .schedule_row_how_detailed > div > span{
        padding-left: 12px;
        padding-right: 12px;
    }
    .schedule_row_mob .schedule_time_hour{
        height: 53px;
        line-height: 53px;
        border: none;
        padding-left: 32px;
        padding-right: 32px;
    }
    .schedule_hall {
        width: 253px;
        flex-shrink: 0;
        padding-top: 40px;
    }

    .schedule_hall_item {
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        color: #fff;
        font-size: 20px;
        border: 1px solid #2f5595;
        border-left: 0;
    }

    .schedule_time_hour {
        width: 300px;
        height: 40px;
        font-size: 20px;
        flex-shrink: 0;
        color: #fff;
        border: 1px solid transparent;
    }

    .schedule_row_hour {
        width: 300px;
        height: 100px;
        flex-shrink: 0;
        border: 1px solid #2f5595;
    }
    .schedule_row_hour:nth-child(odd) {
        background-color: #132c56;
    }

    .schedule_row_event {
        position: absolute;
        height: 98px;
        top: 44px;
        width: 20%;
        left: 20%;
        color: #fff;
        padding: 15px;
        font-size: 15px
    }
    .schedule_row_event > h3{
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    .schedule_row_event > p{
        font-size: 19px;
        font-weight: 100;
        margin-bottom: 4px;
    }
    .schedule_row_event > span{
        font-size: 19px;
        font-weight: 400;
    }
    .schedule_row_event_development {
        background-color: #007b11;
    }
    .schedule_row_event_art {
        background-color: #7a0026;
    }
    .schedule_row_event_design {
        background-color: #bb6600;
    }
    .schedule_row_event_other {
        background-color: #615c60;
    }

    .home_container{
        width: 100%;
        margin: 0 auto;
    }
    .gca--icon{
        display: block;
        width: 46px;
        height: 46px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .gca--information-icon{
        background-image: url('../assets/information.svg');
    }

    .gca--focus-icon{
        background-image: url('../assets/focus.svg');
        width: 56px;
        height: 56px;
    }

    .about_page .title_big,
    .contact .title_big{
        font-size: calc(30px + (180 - 30) * ((100vw - 300px) / (1920 - 300)));
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 36px;
        margin: 0;
        margin-bottom: 53px;
        line-height: .8;
    }

    .container{
        margin: 0 auto
    }


    /* About Page Start */
    .about_page{
        color: #fff;
    }
    .about_page .title_big{
        font-size: calc(30px + (180 - 30) * ((100vw - 300px) / (1920 - 300)));
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 36px;
        margin: 0;
        margin-bottom: 53px;
        line-height: .8;
    }
    .about_cover{
        position: relative;
        width: 100%;
        max-height: 624px;
        padding-left: 35px;
        margin-bottom: 95px;
    }

    .about_cover::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }
    .wrapper_title{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .wrapper_title svg{
        width: 46px !important;
        height: 46px;
    }
    .about_description{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .about_description > div{
        flex:  0 0 45%;
    }

    .wrapper_title h1{
        font-size: 58px;
        margin-bottom: 0;
        margin-inline-start: 16px;
    }
    .about_us_wrapper > span,
    .our_mission > span{
        font-size: 24px;
        color: rgba(255, 255, 255, .9);
        font-weight: 300;
        line-height: 35px;
    }

    .about_us_wrapper > span b,
    .our_mission > span b{
        color: #fff;
        font-weight: bold;
    }
    .our_mission > span{
        display: block;
        margin-top: -2px;
    }
    .staff_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        transition: all .3s ease;
    }

    .staff_container .wrapper_title{
        flex: 0 0 100%;
    }

    .staff_item{
        flex: 0 0 22%;
        flex-shrink: 0;
        transition: .3s ease;
    }

    .staff_member_name{
        font-size: 42px;
    }
    .staff_member_profession{
        font-size: 16px;
    }

    .staff_member_cover{
        position: relative;
        width: 100%;
        height: 428px;
        margin-bottom: 40px;
    }
    .staff_member_cover img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .staff_member_cover::before{
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 8px;
        width: 100%;
        max-width: 50%;
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }
    .staff-credentail{
        position: absolute;
        right: -20px;
        bottom: -10px;
        max-width: 50%;
    }
    .about_us_list{
        padding-inline-start: 20px;
        margin-block-end: 20px;
        list-style-type: disc;

    }
    .about_us_list li{
        margin-bottom: 8px;
    }
    /* About Page End */
    /* contact start */
    .contact_cover{
        width: 100%;
        height: 640px;
        background-image: url('../assets/contact.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact_cover .title_big{
        padding-block-start: 8%;
        font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1920 - 300)));
        letter-spacing: 24px;
        margin-block-end: 9%;
    }

    .contact_map{
        height: 584px;
        background-color: #ccc;
    }

    .contact-info{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-block-start: 23%;
        margin-block-end: 13%;
    }

    .contact-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 285px;
        color: #fff;
    }

    .contact-mob .contact-mob-icon{
        display: block;
        width: 64px;
        height: 120px;
        background-image: url('../assets/phone.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-mob-marker{
        width: 87px !important;
        height: 117px;
        background-image: url('../assets/pin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-mob-marker{
        width: 87px !important;
        height: 117px;
        background-image: url('../assets/pin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-mob-email{
        width: 96px !important;
        height: 74px;
        background-image: url('../assets/mail.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-name{
        color: #fff;
        text-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        font-size: 23px;
        font-family: 'SF-Pro-Black';
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .contact-data{
        font-weight: bold;
        color: #fff;
        opacity: .9;
        text-decoration: none;
    }
    .contact-mob-email + .contact-name{
        margin-top: 72px;    
    }

    .contact-item.contact-location > span:not(:last-child):not(.contact-name){
        opacity: 1;
        margin-bottom: 8px;
    }

    .contact-form{
        margin-block-end: 5%;
    }
    .contact-form h1{
        color: #fff;
        font-size: 62px;
        font-family: 'SF-Pro-Black';
        font-weight: bold;
        letter-spacing: 8px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        margin-block-end: 4%;
    }

    .contact-form form{
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'SF-Pro-Thin';
    }

    .contact-form form input,
    .contact-form form textarea{
        margin-bottom: 44px;
        padding-inline-start: 15px;
        padding-inline-end: 15px;
    }

    .contact-form form button{
        max-width: 330px;
        margin: 0 auto;
        letter-spacing: 1px;
        padding: 0 30px;
    }
    /* contact end */
    /* speaker start */
    .glow-shadow{
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }
    .text-reveal{
        font-size: 26px;
        overflow: hidden;
    }
    .text-reveal span{
        display: inline-block;
        opacity: 0;
        transition: .3s ease;
        transform: translateY(50px);
    }
    .text-reveal span.text-fade{
        opacity: 1;
        transform: translateY(0);
    }
    .speakers-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4 , 282px);
        grid-gap: 52px;
        font-family: -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .speaker-single{
        display: block;
        position: relative;
        background-color: #fff;
        cursor: pointer;
        height: 372px;
        overflow: hidden;
    }

    .speaker-single-custom{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #ccc;
        cursor: pointer;
        overflow: hidden;
        order: 1;
        pointer-events: none;
    }

    .speaker-single-custom .speaker-name{
        font-size: 200px;
    }

    .speaker-single.collapsed{
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 650px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
        z-index: 950;
        overflow: visible;
    }

    .speaker-single::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        max-width: 282px;
        height: 10px;
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        transition: width .5s ease, max-width .4s ease-in;
    }

    .speaker-card-overlay{
        display: none;
        position: absolute;
        top: -70px;
        left: -160px;
        z-index: -1;
        pointer-events: none;
    }
    .speaker-single.collapsed::before{
        width: 100%;
    }

    .speaker-single img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s ease;
    }
    .speaker-single * {
        transition: .3s ease;
    }
    .speaker-single:not(.collapsed):hover img{
        transform: scale(1.2);
        transform-origin: center;
    }

    .speaker-single.collapsed .speaker-card-overlay{
        display: block;
        max-width: 150%;
        width: 150%;
        height: 130%;
    }

    .speaker-pitch, .speaker-bio{
        position: absolute;
        width: 100%;
        max-width: 302px;
        right: -104px;
        bottom: -24px;
    }

    .speaker-pitch{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -150px;
    }
    .speaker-prof{
        font-size: 30px;
        color: #fff;
    }
    .speaker-name{
        margin-top: 0;
        margin-bottom: 14px;   
        font-size: 72px;
        line-height: 1;
        color: #fff;
        font-weight: bold;
    }

    .speaker-pitch > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }

    .speaker-pitch > div > span{
        font-size: 34px;
        line-height: 1;
    }
    .speaker-pitch > div > svg{
        width: 50px !important;
        height: 50px;
        margin-bottom: 20px;
    }

    .speaker-single:not(.collapsed) > *:not(img){
        display: none;
    }

    .see_more_text{
        font-size: 25px;
        color: #fff;
        opacity: 0;
    }
    .host-container{
        position: relative;
        display: flex;
        color: #fff;
        grid-column: span 4;
    }

    .host-container img{
        max-width: 282px;
    }
    .host-bio{
        margin: 0 16px;
    }

    .host-name{
        margin: 0;
    }
    .host-bio > span{
        display: block;
        margin-top: 16px;
        font-size: 24px;
    }
    .glow-line{
        display: block;
        width: 100%;
        max-width: 280px;   
        height: 10px;
        background-color: #fff;
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
        transition: width .3s ease, max-width .5s ease;
    }

    .host-container .glow-line{
        position: absolute;
        max-width: 200px;
        bottom: -5px;
        left: 0;
    }
    footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 16px;
        background-color: #000c1d;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .return_policy_btn{
        font-family: -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #fff;
    }
    .powered_by{
        display: flex;
        flex-direction: column;
        color: #fff;
    }
    .gca--button_get-ticket{
        display: inline-block;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        text-decoration: none;
    }
    .terms_and_conditions{
        display: flex;
        flex-direction: column;
        color: #fff;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #000c1d;
    }
    .privacy_page_title{
        font-family: 'SF-Pro-Black', sans-serif;
        font-size: 44px;
        line-height: 59px;
    }
    .privacy_desc{
        margin-bottom: 31px;
        font-size: 20px;
        line-height: 28px;
    }
    .privacy_title{
        font-size: 34px;
        line-height: 52px;
        font-family: 'SF-Pro-Black', sans-serif;
    }
    .privacy_sub_header{
        position: relative;
        padding-inline-start:  20px;
        margin-top: 22px;
        margin-bottom: 22px;
        font-size: 20px;
        line-height: 40px;
    }
    .privacy_sub_header::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 6px;
        height: 6px;
        background-color: #fff;
    }
    .mb-30{
        margin-bottom: 30px;
    }
    .terms_and_conditions span{
        line-height: 28px;
    }
    .terms_and_conditions a{
        color: #fff;
    }
    .terms_and_conditions h3{
        font-size: 20px;
        font-family: 'SF-Pro-Black', sans-serif;
        margin-bottom: 31px;
        line-height: 28px;
    }
    .terms_and_conditions ul{
        list-style-type: square;
        margin: 22px 0 22px 22px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
    }
    @media screen and (max-width: 1440px){
        .speakers-container{
            grid-gap: 30px;
        }
    }

    @media screen and (max-width: 1366px){
        .speakers-container{
            grid-template-columns: repeat(3 , 282px);
            grid-gap: 50px;
        }
        .host-container{
            grid-column: span 3;
        }
        .header_nav{
            margin-left: auto;
            padding: 0;
        }
        .header_nav_item{
            margin-right: 50px;
        }
    }

    @media screen and (max-width: 1200px){
        .speakers-container{
            grid-gap: 40px;
        }
        .schedule_hall{
            display: none;
        }
        .schedule_row, .schedule_time,.schedule_row_event,
        .schedule_row_wrapper{
            display: none;
        }
        .schedule_row_wrapper_mob{
            display: block;
            width: 100%;
        }
        .schedule_time_hour,.schedule_row_wrapper{
            width: 100%;
        }
        .schedule_row_wrapper{
            overflow-x: hidden;
        }
        .schedule_row_hour:nth-child(odd),
        .schedule_row_hour{
            background-color: #081933;
            border: none;
        }
    }

    @media screen and (max-width: 992px){
        .speakers-container{
            grid-template-columns: repeat(2 , 282px);
        }
        .host-container{
            grid-column: span 2;
        }
        .speaker-single.collapsed{
            max-width: 450px;
            max-height: 550px;
        }
        .speaker-single::before{
            max-width: 180px;
        }
        .speaker-bio{
            bottom: -35px;
        }
        .speaker-name{
            margin-bottom: 0;
            font-size: 50px;
        }
        .speaker-pitch > div > svg{
            width: 30px !important;
            height: 40px;   
        }
    }

    @media screen and (max-width: 767px){
        .speaker-single.collapsed{
            max-width: 325px;
            max-height: 500px;
        }
        .speaker-single::before{
            max-width: 100px;
        }
        .speaker-bio{
            bottom: -35px;
            right: 0;
            text-align: right;
        }
        .speaker-name{
            margin-bottom: 0;
            font-size: 50px;
        }
        .speaker-pitch > div > svg{
            width: 30px !important;
            height: 40px;   
        }
        .speaker-prof{
            font-size: 20px;
        }
        .speaker-pitch > div > span{
            font-size: 24px;
        }
        .speaker-single.collapsed .speaker-card-overlay{
        display: none;
        }
        .host-container{
            grid-column: span 1;
            grid-row: span 1 / 1;
            flex-wrap: wrap;
            text-align: center;
        }
        .host-container img{
            max-height:  372px;
        }
        .host-bio{
            margin: 0;
            margin-top: 16px;
        }
        .speakers-container{
            grid-template-columns: 280px;
        }
    }

    /* speaker end */
    /* sponsors Start */
    #sponsors_container  h1{
        font-size: 64px;
        margin-bottom: 66px;
        text-align: center;
    }

    .partner_section_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 390px;
        max-height: 390px;
    }

    .partner_section_header .hero_btn{
        margin-bottom: 0;
    }

    .sponsors_grid{
        padding: 55px 0;
        background-color: #000c1d;
    }
    .sponsors_grid .sponsor_heading{
        border-color: #0e1929;
    }

    .sponsor_name{
        position: relative;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 34px;
        font-family: 'SF-Pro-Black';
    }

    .sponsor_bio{
        color: rgba(255,255,255, .9);
        font-size: 22px;
        line-height: 1.2;
        font-weight: 100;
    }

    .sponsor_link{
        display: block;
        margin-top: 23px;
        color: #fff;
        font-weight: 500;
        font-size: 23px;
    }

    .sponsor_name::before{
        content: '';
        display: block;
        width: 320px;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
    }

    .sponsor_gold .sponsor_name::before{
        box-shadow: 4px 0 15px rgba(138,127,46,.8), -4px 0 15px rgba(138,127,46,.8);
    }

    .sponsor_platinum .sponsor_name::before{
        box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    }

    .sponsor_silver .sponsor_name::before{
        box-shadow: 4px 0 15px rgba(255,255,255,.8), -4px 0 15px rgba(255,255,255,.8);
    }

    .sponsor_bronze .sponsor_name::before{
        box-shadow: 4px 0 15px rgba(165,135,123,.8), -4px 0 15px rgba(165,135,123,.8);
    }

    .sponsors_grid .sponsors_wrapper{
        margin-bottom: 184px;
    }

    .sponsors_wrapper_reversed .sponsor_about{
        direction: rtl;
    }

    .sponsors_wrapper_reversed .sponsor_name::before{
        left: auto;
        right: 0;
    }

    .partners_section{
        padding: 128px 0;
        background-color: #000c1d;
    }

    /* sponsors end */
    /* Form start */
    .gca--form-submission-wrapper{
        display: none;
        background-color: #fff;
        max-width: 1250px;
        width: 100%;
        height: 655px;
    }
    .gca--form-submission-wrapper.collapsed{
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 950;
    }
    .gca--form-submission-cover{
        display: flex;
        flex: 0 0 40%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        color: #fff;
        background-image: url('../assets/speakerBG.png');
        background-size: cover;
        background-position: center;
    }
    .gca--form-submission-cover-partner{
        background-image: url('../assets/partner.png');
    }
    .gca--form-submission-cover-sponsor{
        background-image: url('../assets/sponsor.png');
    }
    form.gca--form-submission{
        max-width: 520px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: flex-start;
        padding: 56px 0;
    }
    .gca--form-submission-input{
        height: 42px;
        line-height: 40px;
        padding-inline-start: 14px;
        padding-inline-end: 14px;
        margin-bottom: 14px;
        border: 1px solid #c7c7c7;
        color: #999;
        background-color: #e4e4e4;
    }
    .gca--form-submission > input{
        flex: 0 0 100%;
    }
    .gca--form-submission > input:nth-child(-n + 3){
        flex: 0 0 45%;
    }
    .gca--form-submission.gca--form-submission-partner,
    .gca--form-submission.gca--form-submission-sponsor{
        margin-top: auto;
        margin-bottom: auto;
    }
    .gca--form-submission.gca--form-submission-sponsor > input,
    .gca--form-submission.gca--form-submission-partner > input{
        flex: 0 0 100%;
    }
    .gca--form-submission button.gca--button_submit{
        height: 50px;
        line-height: 50px;
        min-width: 200px;
        margin: 24px auto 0;
        padding: 0 28px;
    }
    .gca--form-submission span{
        font-size: 30px;
        flex: 0 0 100%;
        color: #000;
        text-align: center;
        -webkit-margin-after: 36px;
        margin-block-end: 36px;
    }
    /* Form End */
    @media (min-width: 576px){
        .container {
            max-width: 540px;
        }
        .gca--form-submission-wrapper.container{
            max-width: 1250px;
        }
    }

    @media (min-width: 768px){
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: 992px){
        .container {
            max-width: 960px;
        }
    }

    @media screen and (min-width: 1200px){
        .container {
            max-width: 1140px;
        }
    }
    @media screen and (min-width: 1600px){
        .container{
            max-width: 1500px;
        }
    }

    @media screen and (max-width: 1600px) {
       
        .header_nav_item {
            font-size: 16px;
        }
        .hero_content {
            flex-wrap: wrap;
        }
        .hero_content_left_side {
            width: 100%;
            text-align: center;
            order: 2;
            padding: 0;
        }
        .hero_content_right_side {
            width: 100%;
            text-align: center;
            order: 1;
            padding: 0 0 20px;
            margin-bottom: 30px;
        }
        .hero_content_right_side:before {
            content: '';
            width: 100%;
            height: 8px;
            left: 0;
            top: auto;
            bottom: 0;
            transform: translateY(-50%);
        }
        .about_page .title_big{
            font-size: calc(30px + (150 - 30) * ((100vw - 300px) / (1920 - 300)));
        }
        .staff_item{
            flex: 0 0 26%;
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 1366px){
        .schedule_dates_container{
            padding-left: 40px;
            padding-right: 40px;
            margin-block-end: 0;
        }
    }

    @media screen and (max-width: 1200px) {
        .wrapper {
            padding: 0 20px;
        }
        .hero {
            width: 100%;
            margin-bottom: 50px;
        }
        .about {
            flex-wrap: wrap;
        }
        .about > div {
            width: 100%;
        }
        .about_text {
            padding: 50px 0 0;
            text-align: center;
        }

        .speaker_img {
            width: 200px;
            height: 278px;
        }
        .speaker_text {
            padding: 0 0 0 50px;
        }

        .sponsor {
            margin: 0 50px;
        }
        .sponsor_item {
            width: 150px;
            height: 150px;
        }
        .staff_container{
            justify-content: center;
        }
        .staff_item{
            flex: 0 0 45%;   
        }
        .staff_member_cover img{
            object-position: top;
        }
        .wrapper_title h1{
            font-size: 42px;
        }
        .about_us_wrapper > span, .our_mission > span{
            font-size: 20px;
        }
        .our_mission > span{
            margin-top: -8px;
        }
        .about_page .title_big {
            font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1920 - 300)));
            letter-spacing: 26px;
        }
        .about_cover{
            padding-left: 0;
            margin-bottom: 70px;
        }
        .schedule_dates_container{
            height: 130px;
            flex-wrap: wrap;
        }
        .schedule_types{
            padding: 0;
            width: 100%;
        }
        .schedule_dates{
            width: 40%;
            margin-block-end: 54px;
        }
        .schedule{
            margin-top: 150px;
        }
        .animation_item{
            background-size: 101% 100%;
        }
    }

    @media screen and (max-width: 992px){
        .about_description{
            flex-wrap: wrap;   
            padding-left: 16px;
            padding-right: 16px;
        }
        .about_description > div{
            flex: 0 0 100%;
            margin-block-end: 24px;
        }
        .our_mission .wrapper_title{
            direction: rtl;
        }
        .staff_container{
            padding-left: 16px;
            padding-right: 16px;
        }
        .contact_map{
            height: 400px !important;
        }
        .contact_cover .title_big{
            padding-block-start: 10% !important;
            margin-block-end: 33% !important;
        }
        .contact-info{
            margin-block-start: 25% !important;
        }
    }

    @media screen and (max-width: 800px) {
        .hero_content_left_side > div:first-child {
            font-size: 25px;
        }
        .hero_content_left_side > div:last-child {
            font-size: 25px;
        }
        .gca--button_submit {
            font-size: 25px;
        }
        .white_title {
            font-size: 25px;
        }
        .speaker {
            flex-wrap: wrap;
        }
        .speaker > .speaker_text {
            width: 100%;
            padding: 0;
            text-align: center;
        }
        .speaker_text_position:after {
            width: 100%;
        }
        .sponsor_heading {
            font-size: 25px;
        }
        .footer_c {
            padding: 0;
        }
        .footer form {
            width: 100%;
            margin: 0 auto;
        }
        .hero_content_right_side {
            font-size: 50px;
        }
    }


    @media screen and (max-width: 767px){
        .staff_item{
            display: flex;
            flex-direction: column;
            flex: 0 0 100%;
        }
        .staff_member_cover{
            flex: 0 0 50%;
            width: 90%;
        }
        .about_page .title_big{
            font-size: 40px;
            margin-bottom: 25px;
            letter-spacing: 8px;
        }
        .contact_map{
            height: 400px;
        }
        .contact_cover .title_big{
            padding-block-start: 20% !important;
            font-size: 60px !important;
            letter-spacing: 6px !important;
            line-height: 1.2 !important;
        }
        .contact-info {
            margin-block-start: 40% !important;
            flex-wrap: wrap;
        }
        .contact-item{
            flex: 0 0 100%;
            margin-block-end: 24px;
        }
        .contact-form h1{
            font-size: 42px !important;
            letter-spacing: 4px !important;
        }
        .contact-form{
            padding: 0 16px;
        }
        .sponsors_wrapper{
            flex-direction: column;
        }
        .sponsor_item {
            width: 200px;
            height: 200px;
            margin-bottom: 24px;
        }
        .partners_section{
            margin: 0 -20px;
        }
        .partners_section .sponsors_wrapper{
            padding: 0 20px;
        }
        .partner_section_header .hero_btn{
            padding: 0 20px;
            font-size: 22px;
            letter-spacing: 2px;
        }
        .schedule_type{
            font-size: 18px;
            margin-bottom: 16px;
        }
        .schedule_types {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .schedule{
            margin-top: 250px;
        }
        .schedule_dates {
            width: 100%;
        }
        .schedule_dates_container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .schedule_date_day{
            font-size: 65px;
        }
        .schedule_date_month{
            font-size: 24px;
        }
    }

    canvas{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .wrapper {
        background-color: transparent;
    }