/* speaker start */
.glow-shadow{
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
}

.speakers-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4 , 282px);
    grid-template-rows: repeat(4, 372px);
    grid-gap: 52px;
    font-family: -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.speaker-single{
    display: block;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.speaker-single-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ccc;
    cursor: pointer;
    overflow: hidden;
    order: 1;
    pointer-events: none;
}

.speaker-single-custom .speaker-name{
    font-size: 200px;
}

.speaker-single.collapsed{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    z-index: 950;
    overflow: visible;
}

.speaker-single::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    max-width: 282px;
    height: 10px;
    background-color: #fff;
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    transition: width .5s ease, max-width .4s ease-in;
}

.speaker-card-overlay{
    display: none;
    position: absolute;
    top: -70px;
    left: -160px;
    z-index: -1;
    pointer-events: none;
}
.speaker-single.collapsed::before{
    width: 100%;
}

.speaker-single img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
.speaker-single * {
    transition: .3s ease;
}
.speaker-single:not(.collapsed):hover img{
    transform: scale(1.2);
    transform-origin: center;
}

.speaker-single.collapsed .speaker-card-overlay{
    display: block;
    max-width: 150%;
    width: 150%;
    height: 130%;
}

.speaker-pitch, .speaker-bio{
    position: absolute;
    width: 100%;
    max-width: 302px;
    right: -104px;
    bottom: -24px;
}

.speaker-pitch{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
}
.speaker-prof{
    font-size: 30px;
    color: #fff;
}
.speaker-name{
    margin-top: 0;
    margin-bottom: 14px;   
    font-size: 72px;
    line-height: 1;
    color: #fff;
    font-weight: bold;
}

.speaker-pitch > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.speaker-pitch > div > span{
    font-size: 34px;
    line-height: 1;
}
.speaker-pitch > div > svg{
    width: 50px !important;
    height: 50px;
    margin-bottom: 20px;
}

.speaker-single:not(.collapsed) > *:not(img){
    display: none;
}

.see_more_text{
    font-size: 25px;
    color: #fff;
    opacity: 0;
}
.host-container{
    position: relative;
    display: flex;
    color: #fff;
    grid-column: span 4;
}

.host-container img{
    max-width: 282px;
}
.host-bio{
    margin: 0 16px;
}

.host-name{
    margin: 0;
}
.host-bio > span{
    display: block;
    margin-top: 16px;
    font-size: 24px;
}
.glow-line{
    display: block;
    width: 100%;
    max-width: 280px;   
    height: 10px;
    background-color: #fff;
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    transition: width .3s ease, max-width .5s ease;
}

.host-container .glow-line{
    position: absolute;
    max-width: 200px;
    bottom: -5px;
    left: 0;
}

@media screen and (max-width: 1440px){
    .speakers-container{
        grid-gap: 30px;
    }
}

@media screen and (max-width: 1366px){
    .speakers-container{
        grid-template-columns: repeat(3 , 282px);
        grid-gap: 50px;
    }
    .host-container{
        grid-column: span 3;
    }
}

@media screen and (max-width: 1200px){
    .speakers-container{
        grid-gap: 40px;
    }
}

@media screen and (max-width: 992px){
    .speakers-container{
        grid-template-columns: repeat(2 , 282px);
    }
    .host-container{
        grid-column: span 2;
    }
    .speaker-single.collapsed{
        max-width: 450px;
        max-height: 550px;
    }
    .speaker-single::before{
        max-width: 180px;
    }
    .speaker-bio{
        bottom: -35px;
    }
    .speaker-name{
        margin-bottom: 0;
        font-size: 50px;
    }
    .speaker-pitch > div > svg{
        width: 30px !important;
        height: 40px;   
    }
}

@media screen and (max-width: 767px){
    .speaker-single.collapsed{
        max-width: 325px;
        max-height: 500px;
    }
    .speaker-single::before{
        max-width: 100px;
    }
    .speaker-bio{
        bottom: -35px;
        right: 0;
        text-align: right;
    }
    .speaker-name{
        margin-bottom: 0;
        font-size: 50px;
    }
    .speaker-pitch > div > svg{
        width: 30px !important;
        height: 40px;   
    }
    .speaker-prof{
        font-size: 20px;
    }
    .speaker-pitch > div > span{
        font-size: 24px;
    }
    .speaker-single.collapsed .speaker-card-overlay{
       display: none;
    }
    .host-container{
        grid-column: span 1;
        grid-row: span 1 / 1;
        flex-wrap: wrap;
        text-align: center;
    }
    .host-container img{
        max-height:  372px;
    }
    .host-bio{
        margin: 0;
        margin-top: 16px;
    }
    .speakers-container{
        grid-template-columns: 280px;
    }
}

/* speaker end */