/* sponsors Start */
#sponsors_container  h1{
    font-size: 64px;
    margin-bottom: 66px;
    text-align: center;
}

.partner_section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 390px;
    max-height: 390px;
}

.partner_section_header .hero_btn{
    margin-bottom: 0;
}

.sponsors_grid{
    padding: 55px 0;
    background-color: #000c1d;
}
.sponsors_grid .sponsor_heading{
    border-color: #0e1929;
}

.sponsor_name{
    position: relative;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 34px;
    font-family: 'SF-Pro-Black';
}

.sponsor_bio{
    color: rgba(255,255,255, .9);
    font-size: 22px;
    line-height: 1.2;
    font-weight: 100;
}

.sponsor_link{
    display: block;
    margin-top: 23px;
    color: #fff;
    font-weight: 500;
    font-size: 23px;
}

.sponsor_name::before{
    content: '';
    display: block;
    width: 320px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.sponsor_gold .sponsor_name::before{
    box-shadow: 4px 0 15px rgba(138,127,46,.8), -4px 0 15px rgba(138,127,46,.8);
}

.sponsor_platinum .sponsor_name::before{
    box-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
}

.sponsor_silver .sponsor_name::before{
    box-shadow: 4px 0 15px rgba(255,255,255,.8), -4px 0 15px rgba(255,255,255,.8);
}

.sponsor_bronze .sponsor_name::before{
    box-shadow: 4px 0 15px rgba(165,135,123,.8), -4px 0 15px rgba(165,135,123,.8);
}

.sponsors_grid .sponsors_wrapper{
    margin-bottom: 184px;
}

.sponsors_wrapper_reversed .sponsor_about{
    direction: rtl;
}

.sponsors_wrapper_reversed .sponsor_name::before{
    left: auto;
    right: 0;
}

.partners_section{
    padding: 128px 0;
    background-color: #000c1d;
}

/* sponsors end */